In [66]:
# Inteace with python <-----> Mongodb
import pymongo as pym

import pandas as pd
import os
import csv

# converting file into jason format
import json

In [67]:
def os_any_dir_search(file):
    u = []
    for p,n,f in os.walk(os.getcwd()):
        for a in f:
            a =str(a)
            if a.endswith(file): 
                print(a)
                print(p)
            t=pd.read_csv(p+'/'+file)
            u.append(p+'/'+a)
    return t,u

In [68]:
fake_users = os_any_dir_search('Bharti_airtel_data.csv')[0]
fake_user=fake_users.iloc[:,1:]
fake_users.head()

Bharti_airtel_data.csv
C:\Users\Govindji\Machine Learning\intelligent investor\Mongodb

,DisplayDate,Open,High,Low,Close,Volume,OI,Change in price,Condition (Close<open),change is negative,close>open,change is positive,Volume (outlier),change in price (outlier),Volume (after outlier),Change in price (removing O),Act Change in price (removing O)
0,9/4/2020 0:00,531.50,537.25,519.80,523.65,28434123,0,7.85,1.0,7.85,0.0,0.00,1,1,28434123,7.85,-7.85
1,9/3/2020 0:00,550.55,552.90,535.65,538.00,24622381,0,12.55,1.0,12.55,0.0,0.00,1,1,24622381,12.55,-12.55
2,9/2/2020 0:00,550.00,559.00,545.10,550.55,35023081,0,0.55,0.0,0.00,1.0,0.55,1,1,35023081,0.55,0.55
3,9/1/2020 0:00,517.50,555.45,514.20,546.25,74337280,0,28.75,0.0,0.00,1.0,28.75,0,0,0,0.00,0.00
4,8/31/2020 0:00,518.50,522.30,508.55,513.10,186856499,0,5.40,1.0,5.40,0.0,0.00,0,1,0,5.40,-5.40

In [69]:

fake_users.to_csv('Bharti_airtel_data_fixed.csv')

In [70]:
# create Dict() to send tomongodb
fake_users_dict = fake_users.to_dict('records')
fake_users_dict[:2]

[{'DisplayDate': '9/4/2020 0:00',
  'Open': 531.5,
  'High': 537.25,
  'Low': 519.8,
  'Close': 523.65,
  'Volume': 28434123,
  'OI': 0,
  'Change in price': 7.85,
  'Condition (Close<open)': 1.0,
  'change is negative': 7.85,
  'close>open': 0.0,
  'change is positive': 0.0,
  'Volume (outlier)': 1,
  'change in price (outlier)': 1,
  'Volume (after outlier)': 28434123,
  'Change in price (removing O)': 7.85,
  'Act Change in price (removing O)': -7.85},
 {'DisplayDate': '9/3/2020 0:00',
  'Open': 550.55,
  'High': 552.9,
  'Low': 535.65,
  'Close': 538.0,
  'Volume': 24622381,
  'OI': 0,
  'Change in price': 12.55,
  'Condition (Close<open)': 1.0,
  'change is negative': 12.55,
  'close>open': 0.0,
  'change is positive': 0.0,
  'Volume (outlier)': 1,
  'change in price (outlier)': 1,
  'Volume (after outlier)': 24622381,
  'Change in price (removing O)': 12.55,
  'Act Change in price (removing O)': -12.55}]

In [ ]:
import pymongo
# Making a connection to MongoClient
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

#Creating a database
db_1= client["fake_users"]

# Creating a collection (*AKA* TABLE):
user_info_table = db["user_info"]

In [72]:
# send dataframe from python to mongodb
user_info_table.insert_many(fake_users_dict)

In [74]:
# Fetching the absolute path of desired file
csv_file_path=os_any_dir_search('Bharti_airtel_data_fixed.csv')[1]

# Converting this list as str
csv_file_path_str="".join(csv_file_path)

# reading the csv to pandas
data = pd.read_csv(csv_file_path_str)

# open.csv()
csvfile = open(csv_file_path_str,'r')

#convert .csv() and read dict()
reader = csv.DictReader(csvfile)
# naming columns
header=['DisplayDate','Open','High','Low','Close','Volume','OI','Change in price','Condition (Close<open)','change is negative','close>open','change is positive','Volume (outlier)','change in price (outlier)','Volume (after outlier)','Change in price (removing O)','Act Change in price (removing O)']

# iterate through and send file as dict() to Mongodb:
for each in reader:
    row={}
    for field in header:
        row[field]=each[field]
    
    db.user_info_table.insert_one(row)

In [ ]:
# Fetching the absolute path of desired file
#csv_file_path=os_any_dir_search('Bharti_airtel_data_fixed.csv')[1]

# Converting this list as trig
csv_file_path_str="".join('Bharti_airtel_data_fixed.csv')

# reading the csv to pandas
data = pd.read_csv('Bharti_airtel_data_fixed.csv')

# open.csv()
csvfile = open('Bharti_airtel_data_fixed.csv','r')

#convert .csv() and read dict()
reader = csv.DictReader(csvfile)
# naming columns
header=['DisplayDate','Open','High','Low','Close','Volume','OI','Change in price','Condition (Close<open)','change is negative','close>open','change is positive','Volume (outlier)','change in price (outlier)','Volume (after outlier)','Change in price (removing O)','Act Change in price (removing O)']

# iterate through and send file as dict() to Mongodb:
for each in reader:
    row={}
    for field in header:
        row[field]=each[field]
    
    db.user_info_table.insert_one(row)

In [76]:
csv_file_path
csv_file_path_str
data

,Unnamed: 0,DisplayDate,Open,High,Low,Close,Volume,OI,Change in price,Condition (Close<open),change is negative,close>open,change is positive,Volume (outlier),change in price (outlier),Volume (after outlier),Change in price (removing O),Act Change in price (removing O)
0,0,9/4/2020 0:00,531.500000,537.250000,519.800000,523.650000,28434123,0,7.850000,1.0,7.85,0.0,0.00,1,1,28434123,7.850000,-7.850000
1,1,9/3/2020 0:00,550.550000,552.900000,535.650000,538.000000,24622381,0,12.550000,1.0,12.55,0.0,0.00,1,1,24622381,12.550000,-12.550000
2,2,9/2/2020 0:00,550.000000,559.000000,545.100000,550.550000,35023081,0,0.550000,0.0,0.00,1.0,0.55,1,1,35023081,0.550000,0.550000
3,3,9/1/2020 0:00,517.500000,555.450000,514.200000,546.250000,74337280,0,28.750000,0.0,0.00,1.0,28.75,0,0,0,0.000000,0.000000
4,4,8/31/2020 0:00,518.500000,522.300000,508.550000,513.100000,186856499,0,5.400000,1.0,5.40,0.0,0.00,0,1,0,5.400000,-5.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2643,2643,1/8/2010 0:00,302.772932,304.333854,298.090166,298.457442,2655707,0,4.315490,NaN,NaN,NaN,NaN,1,1,2655707,4.315490,-4.315490
2644,2644,1/7/2010 0:00,301.487467,306.675236,301.166100,302.451566,3868937,0,0.964099,NaN,NaN,NaN,NaN,1,1,3868937,0.964099,0.964099
2645,2645,1/6/2010 0:00,305.711138,307.731154,299.421541,300.110183,4409919,0,5.600955,NaN,NaN,NaN,NaN,1,1,4409919,5.600955,-5.600955
2646,2646,1/5/2010 0:00,301.395648,304.838858,298.870627,303.323845,4302024,0,1.928197,NaN,NaN,NaN,NaN,1,1,4302024,1.928197,1.928197
2647,2647,1/4/2010 0:00,302.864751,304.930677,297.355615,298.595170,2952340,0,4.269581,NaN,NaN,NaN,NaN,1,1,2952340,4.269581,-4.269581

In [77]:
myquery = ({"DisplayDate":"1/8/2010 0:00"})

mydoc = db.user_info_table.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5ff725d2d44ce6563ce8dce4'), 'DisplayDate': '1/8/2010 0:00', 'Open': '302.77293199999997', 'High': '304.33385400000003', 'Low': '298.090166', 'Close': '298.457442', 'Volume': '2655707', 'OI': '0', 'Change in price': '4.3154900000000005', 'Condition (Close<open)': '', 'change is negative': '', 'close>open': '', 'change is positive': '', 'Volume (outlier)': '1', 'change in price (outlier)': '1', 'Volume (after outlier)': '2655707', 'Change in price (removing O)': '4.3154900000000005', 'Act Change in price (removing O)': '-4.3154900000000005'}

In [78]:
#Export from Mongodb to python

data_from_db = db.user_info_table.find({},{'_id':0})

pd.DataFrame.from_dict(data_from_db).head()

,DisplayDate,Open,High,Low,Close,Volume,OI,Change in price,Condition (Close<open),change is negative,close>open,change is positive,Volume (outlier),change in price (outlier),Volume (after outlier),Change in price (removing O),Act Change in price (removing O)
0,9/4/2020 0:00,531.5,537.25,519.8,523.65,28434123,0,7.85,1.0,7.85,0.0,0.0,1,1,28434123,7.85,-7.85
1,9/3/2020 0:00,550.55,552.9,535.65,538.0,24622381,0,12.55,1.0,12.55,0.0,0.0,1,1,24622381,12.55,-12.55
2,9/2/2020 0:00,550.0,559.0,545.1,550.55,35023081,0,0.55,0.0,0.0,1.0,0.55,1,1,35023081,0.55,0.55
3,9/1/2020 0:00,517.5,555.45,514.2,546.25,74337280,0,28.75,0.0,0.0,1.0,28.75,0,0,0,0.0,0.0
4,8/31/2020 0:00,518.5,522.3,508.55,513.1,186856499,0,5.4,1.0,5.4,0.0,0.0,0,1,0,5.4,-5.4

In [85]:
# Query by name and Export from Mongodb to python:

data_from_db_ = db.user_info_table.find({'Volume':'35023081'},{'_id':0})
name = list(data_from_db_)
pd.DataFrame.from_dict(name)

,DisplayDate,Open,High,Low,Close,Volume,OI,Change in price,Condition (Close<open),change is negative,close>open,change is positive,Volume (outlier),change in price (outlier),Volume (after outlier),Change in price (removing O),Act Change in price (removing O)
0,9/2/2020 0:00,550.0,559.0,545.1,550.55,35023081,0,0.55,0.0,0.0,1.0,0.55,1,1,35023081,0.55,0.55